@layer theme, base, clerk, components, utilities; /* Ensure Clerk is compatible with Tailwind CSS v4 */

@import 'tailwindcss';

@font-face {
  font-family: 'Lavener';
  src: url('/assets/fonts/LAVENER.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
